*{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Frank+Ruhl+Libre:wght@300&family=Indie+Flower&family=Vollkorn&display=swap');
* {
    box-sizing: border-box;
}
.color{
    background-image: url(https://images.unsplash.com/photo-1582650946940-5e8d53989db3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=633&q=80);
    background-size: cover;
}
body{
    width: 80%;
    position: absolute;
    left: 10%;
}
header{
    position: relative;
    height: 150px;
}
.header {
/* height: 50%; */
padding: 30px 10px;

}
.he{
    position: absolute;
    top: 1.3%;
    left: 5%;
    width: 1000px;
    height: 80px;
}
.img1{
    max-width: 100%;
    max-height: 100%;
}
.menu{
    position: relative;
}
.unorderedList{
    position: absolute;
    right: 3%;
}
.unorderedList li, .dropdown{
    display: inline-block;
    letter-spacing: 1px;
    /* border-right: 1px solid #D2A239; */
}
.unorderedList li a, .dropdown a{
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bolder;
    color: #6E646E;
    text-shadow: 1px 1px black;
    font-size: 18px;
    display: block;
    line-height:30px;
}
.unorderedList li a:hover, .dropdown a:hover{
    background-color: #740202;
    color:#cfc5bf;
}
.subContent{
    position: absolute;
    top: 30px;
    right:280px;
    display: none;
    background-color: #CFC5BF;
}
.menu li:hover > ul{
    display: block;
}
.subContent li {
    display: list-item;
    width: 140px;
}
.subContent li a{
    text-align: center;
}
.bold{
    font-weight: bold;
}






















@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Zen+Dots&display=swap');

#header1{
    color:red ;

    font-family: 'Dancing Script', cursive;
font-family: 'Zen Dots', cursive;
font-size: larger;
}
#servingaSize{
    font-variant: small-caps

}
#timeOf{
    font-variant: small-caps

}
#storyOf{

}
#textOfingred{

}
#ingerdUL{

}

#textOfprep{

}
#prepUL{

}
#BREAKperfect{

}
#LUNCHperfect{

}
#DINNERperfect{
    

}
#imageRender{
    position: absolute;
    top: 0px;
    right: 16px;
    left:505px;
    

}




#showing {
     /* background-image: url(https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80); */
    position: relative;
    /* background-size: 100%,100%; */
    /* background: #ffffff url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80") no-repeat right top; */
    /* margin-right: 200px; */
    height: 300px;
    width: 50%;
    

}

#nameOfRecipe{
color: green;
}


/* #showing :last-child{
    position: absolute;
    top: 0px;
    right: 16px;
    left:505px;
    */


ul:only-of-type{
    color: yellow;

}


main {
    height: 50%;
    position: relative;
}


#dish{
    
    width: 1200PX;
    position: relative;
    height: 650px;
    /* background-image: url(https://images.unsplash.com/photo-1604350521209-4bb5ba865f14?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80); */
background-size: 100%,100%; 
/* border-radius: 20px; */
;

}
main fieldset{
    height: 650px;
   
}
#bigBox{
    border: 1px;
    width: 500px;
    height: 526px;
    position: absolute;
    z-index: 1;
    opacity: 60%;
    background-image: url(https://www.christianleban.com/wp-content/uploads/2019/02/c-christianleban_home-2.2.gif);
    /* left: 200px; */
    top:50px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 20px;
}
#smallBox{
    border: 1px ;
    position: relative;
    z-index: 2;
    width:500px;
    height: 500px; 
    /* left: 200px; */
    top:20px;


}
#headingBox{
    border: 1px ;
   position: relative;
 z-index: 3;
    width:500px;
    height: 60px; 
    /* left: 200px; */
    top:20px;

    background-color:#b81010;
  color: #afaaa7;
    font-size: 25px;
  text-align: center;
padding-top: 15px;
    border: 1px solid rgb(155, 160, 161)  ;
    border-width: 4px;
    
    border-radius: 12px;
    font-family:'Lobster', cursive;

}
#about{
    position:absolute;
    left :520px;
    height: 560px;
    width: 630px;
    background-size: 100% 100%;
    /* opacity: 80%; */
   /* background-image: url(https://images.unsplash.com/photo-1587015566802-5dc157c901cf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=633&q=80); */
    border-radius: 20PX;
    top: 20PX;
    text-align: center;
  
}
#aboutPagehead{
    color: #b81010;;
    position: absolute;
    top:80px;
    font-family: 'Zen Dots', cursive;
    /* background-color: rgba(216, 191, 216, 0.267); */
    border: 1px solid gray;
    border-radius: 10px; 
    font-size: 45px;
    left: 10px;
}
#aboutPage{
    top:40px;
    position: absolute;
    color: cornsilk;
    TOP:200PX;
    font-family: 'Zen Dots', cursive;

} 
#EAT {
    color: rgb(226, 214, 214);
    top: 270px;
    
    position:absolute;
    font-size: larger;
    /* text-align:center; */
    /* background-color: wheat; */
     font-family: 'Zen Dots', cursive;;
     /* background-color: rgb(184, 38, 12); */
     border-radius: 10px;
}

#share{
    font-family: 'Zen Dots', cursive;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 170px;
    font-weight: bolder;
    /* text-align: center; */
}
/* #aboutBox{
    background-color: rgb(223, 205, 202);
    border: 1px ;
    position: absolute;
    width:400px;
    height: 300px; 
    left: 550px;
    top:60px;
    z-index: 1;
    
    

} */
  

    


#nameField{
    position:absolute;
   
    width: 200px;
    height: 25px;
    top: 35px;;
    left: 250px;

}

   

label[for="nameField"]{

    /* background-color: cadetblue; */
    position:absolute;
    top: 35px;
    left: 15px;
} 
#recipeStory{
    position:absolute;
   
    width: 200px;
    height: 25px;
    top: 70px;;
    left: 250px;

}

label[for="recipeStory"]{
   
    /* background-color: cadetblue; */
    position:absolute;
    top: 70px;
    left: 15px;
} 

#serving{
    position:absolute;
   
    width: 200px; ;
    height: 25px;
    top:105px;
    left: 250px;

}
label[for="serving"]{
   
    /* background-color: cadetblue; */
    position:absolute;
    top: 105px;
    left: 15px;
} 

#cookTime{
    position:absolute;
   
    width: 200px;
    height: 25px;
    top: 140px;
    left: 250px;

}
label[for="cookTime"]{
    
    /* background-color: cadetblue; */
    position:absolute;
    top: 140px;
    left: 15px;
} 
#Ingredien{
    position:absolute;
    
    width: 200px;
    height: 25px;
    top: 175px;
    left: 250px;

}
label[for="Ingredien"]{
 
    /* background-color: cadetblue; */
    position:absolute;
    top: 175px;
    left: 15px;
    /* opacity: 60%; */
} 
#PreparationRole{
    position:absolute;
    
    width:200px;
    height: 25px;
    top: 210px;
    left: 250px;

}
label[for="PreparationRole"]{
    
    /* background-color: cadetblue; */
    position:absolute;
    top: 210px;
    left: 15px;
} 


fieldset legend{
    position:absolute;
    font-size: 25px;
    background-color: rgb(223, 230, 216);
    border: 1px solid rgb(39, 110, 116)  ;
    border-width: 4px;
    
    border-radius: 12px;
    font-family:'Lobster', cursive;

    /* top:; */

}



 #recipeImage {
    position:absolute;
   
    width: 200px;
    height: 25px;
    top:400px;
    left: 250px;
}


label[for="recipeImage"]{
    
    /* background-color: cadetblue; */
    position:absolute;
    top: 400px;
    left: 15px;
    
  
} 
#breakfast{
position:absolute;

width: 50px;
height: 22px;
background-color: lightsalmon;
top:287px;
left: 80px;
opacity: 50%;
}

label[for="breakfast"]{

/* background-color: cadetblue; */
position:absolute;
top: 290px;
left: 15px;


} 
#lunch{
    position:absolute;
    width: 50px;
    height:22px ;
    background-color: lightsalmon;
    top:317px;
    left: 80px;
    opacity: 50%;
   
    }
    
    
    
    label[for="lunch"]{
    /* background-color: cadetblue; */
    position:absolute;
    top: 320px;
    left: 15px;
    
    
    } 
    #dinner{
        position:absolute;
        
        width: 50px;
        height:22px ;
        background-color: lightsalmon;
        top:347px;
        left: 80px;
        opacity: 50%;
        }
        
        
        
        label[for="dinner"]{
        
        /* background-color: cadetblue; */
        position:absolute;
        top: 350px;
        left: 15px;
        
        
        } 


main h4{
    position: absolute;
    top:250px;
    left: 15px;
    
    background-color: #f3fafa;
    border: 1px solid rgb(39, 110, 116) ;
    color:#b81010;
    
    font-size: 23px;
    font-family:'Lobster', cursive;



}





main textarea {
    background-color:whitesmoke;

    opacity: 80%;
    border-radius: 10px;
    border:2px solid #b81010;;
  

} 
main input{
    background-color:whitesmoke;
    opacity: 80%;
    border-radius: 10px;
    border:2px solid #b81010;;
}

main label{
  border-radius: 5px;
  background-color:#ffffff;
  border: 2px solid #000 ;
  color: #b81010;
  opacity: 80%;
  font-size: 16px;
  font-family:'Lobster', cursive;
}
#one {
    position:absolute;
   
    border: none;
    color: rgb(201, 179, 179);
    padding: 8px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    top:92%;
    bottom:1%;
    border-radius: 12px;
    background-color:#b81010;
    color:rgb(253, 252, 249);
    /* opacity: 80%; */
  border:2px solid rgb(66, 62, 62);
  font-family:'Lobster', cursive;
  left:180px
  }
  #myBtn{
    position:absolute;
    font-size: larger;
    width: 150px;
    height: 25px;
    top: 175px;
    left: 250px;
  }
label[for="myBtn"]{
    font-size: large;
    /* background-color: cadetblue; */
    position:absolute;
    top: 175px;
    left: 15px;

    /* opacity: 60%; */
} 
#forIngred{
    position:absolute;
    font-size: larger;
    width: 37px;
    height: 25px;
    top: 175px;
    left: 410px;
    background-color:#b81010;;
    color:rgb(253, 252, 249);
    /* opacity: 80%; */
    border-radius: 10px;
}
#prep{
    position:absolute;
    font-size: larger;
    width: 150px;
    height: 25px;
    top: 210px;
    left: 250px;
}
label[for="prep"]{
    font-size: large;
    /* background-color: cadetblue; */
    position:absolute;
    top: 210px;
    left: 15px;
    /* opacity: 60%; */
} 
#forPrep{
    position:absolute;
    font-size: larger;
    width: 37px;
    height: 25px;
    top: 210px;
    left: 410px;
    background-color:#b81010;;
    color:rgb(253, 252, 249);
    /* opacity: 80%; */
    border-radius: 10px;
  
}
























  @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Frank+Ruhl+Libre:wght@300&family=Indie+Flower&family=Vollkorn&display=swap');
* {
    box-sizing: border-box;
}
footer{
    background-color:#c4b7a783;
    height: 250px;
    position: relative;
   
   }
   .contacts{
       bottom: 1.5%;
       position: absolute;
       right: 39.5%;
   }
   .img2 {
       position:absolute;
   /* height: 50px;
   width: 50px; */
   padding: 0px;
   bottom: 25px;
   left: 395px;
   }
   .img2  img {
       width: 50px;
       height: 50px;
     /* position:absolute; */
       padding: 3px;

   }
   .img2 a{
       text-decoration: none;
   }
   /* main {
       background-color:#c4b7a7;
   } */
   .copyRights{
       font-size: larger;
       font-family: 'Frank Ruhl Libre', serif;
       position: absolute;
       bottom: 0%;
       right: 39.5%;
   }
   .brief{
       width: 30%;
       font-family: 'Frank Ruhl Libre', serif;
       text-align: justify;
       position: absolute;
       right: 2.5%;
       bottom: 2%;
    }
    .brief p {
        padding-left: 10px;
    }
    .brief p a{
    text-decoration: none;
    color: black;
    }
    .brief p a:hover{
        color: #7C747C;
    }
    .address{  
        width: 30%;
        font-family: 'Frank Ruhl Libre', serif;
        text-align: justify;
        position: absolute;
        left: 5%;
        bottom: 2%;
    }
    .address p {
        padding-top: 7px;
    }
.img2:hover{
    transform: scale(1.25);
}
.contacts a{
    text-decoration: none;
}





























